__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.sqlite3
staticfiles/
media/
*.log
.git
.gitignore
.vscode
.DS_Store
snapfy_react/
README.md
node_modules/
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
.nyc_output
.pytest_cache/
logs/
*.pid
*.seed
*.log
*.csv
*.dat
*.out
*.tar
*.zip